@import "../../assets/stylesheets/colors.scss";

.loader {
  margin: 45vh auto;
  border: 16px solid $light-grey;
  border-top: 16px solid $yellow;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
