@import "../../assets/stylesheets/colors.scss";

* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background: $yellow;
    &:hover {
      background: $dark-yellow;
    }
  }
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
