@import "../../assets/stylesheets/colors.scss";

* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: $white;
}

html {
  scroll-behavior: smooth;
}
