@import "../../../../assets/stylesheets/colors.scss";

.movie {
  min-width: 170px;
  max-width: 170px;
  height: 85%;
  border: 2px solid $black;
  border-radius: 10px;
  background-color: $grey;
  margin: 0px 15px;
  transition-duration: 0.3s;
  box-shadow: -4px 4px 15px $grey;
  display: inline-block;

  &:hover {
    transition-duration: 0.4s;
    box-shadow: -8px 8px 15px $grey;
    transform: scale(1.02);
  }
  &:active {
    box-shadow: 0px 0px;
    transition-duration: 0.2s;
    transform: scale(1);
  }

  .image {
    position: relative;
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $black;

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .btn_movies {
    position: absolute;
    right: 0;
    top: 0;
    height: 8vh;
    width: 6vh;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.7;
    outline: none;
    padding: 1px;
    transition-duration: 500ms;

    @if --isFav {
      background-color: $black;
    } @else {
      background-color: $dark-yellow;
    }

    &:hover {
      opacity: 0.9;
      svg {
        font-weight: bold;
      }
    }

    svg {
      font-size: 4vh;
      cursor: pointer;

      @if --isFav {
        color: $dark-yellow;
      } @else {
        color: $black;
      }
    }
  }

  .data {
    height: 20%;
    background-color: $black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .title {
      width: 100%;
      margin: 0px;
      font-size: 1em;
      color: $white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .year {
      width: 100%;
      margin: 0px;
      font-size: 0.8em;
      color: $white;
    }
  }
}

// @media only screen and (min-width: 500px) {
//   .movie {
//     width: 170px;

//     &:hover {
//       transition-duration: 0.4s;
//       box-shadow: -10px 10px 12px $grey;
//       transform: scale(1);
//     }
//     &:active {
//       box-shadow: 0px 0px;
//       transition-duration: 0.2s;
//       transform: scale(1);
//     }

//     .data {
//       .title {
//         font-size: 1em;
//       }

//       .year {
//         font-size: 0.8em;
//       }
//     }
//   }
// }

// @media only screen and (min-width: 500px) and (max-width: 768px) and (orientation: landscape) {
//   .movie {
//     height: 50vh;
//   }
// }

// @media only screen and (min-width: 768px) and (orientation: landscape) {
//   .movie {
//     height: 60vh;
//   }
// }

// @media only screen and (min-width: 768px) and (orientation: portrait) {
//   .movie {
//     height: 25vh;
//   }
// }
