@import "../../assets/stylesheets/colors.scss";

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.button {
  display: "flex";
  justify-content: center;
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  padding: 0px 1px;
  background-color: #ffe585;
  opacity: 0.75;
  border-radius: 30px;

  &:active {
    background-color: $black;
    color: $light-yellow;
  }

  .icon {
    margin: auto;
    font-size: 30px;
  }
}

.hide {
  display: none;
}

@media only screen and (min-width: 500px) {
  .button {
    height: 10vh;
    width: 5vw;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      background-color: $black;
      color: $light-yellow;
    }
  }
}
