@import "../../assets/stylesheets/colors.scss";

.container {
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .navBar_toggle {
    font-size: 25px;
    margin-left: 3vw;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    height: 25px;
    margin-right: 3vw;

    &:hover .dropdown_content {
      display: flex;
      flex-direction: column;
    }

    .iconContainer {
      text-align: center;
      cursor: pointer;

      .icon {
        font-size: 25px;
        color: $black;
        align-self: center;
      }
    }

    .dropdown_content {
      display: none;
      position: absolute;
      right: -3vw;
      background-color: $white;
      min-width: 30vw;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      .user_name {
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 7px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid $dark-yellow;
        align-self: center;
      }

      .dropdown_item {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition-duration: 0.2s;

        &:hover {
          border-left: 5px solid $dark-yellow;
          font-weight: 600;
        }
      }
    }
  }

  .login_icon {
    margin-right: 3vw;
    font-size: 25px;
  }

  .login_btn {
    display: none;
  }

  .btns {
    display: none;
  }

  .responsive {
    display: block;
    position: absolute;
    top: 10vh;
    width: 100vw;
    background-color: $yellow;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2),
      0px 20px 10px rgba(0, 0, 0, 0.19);
  }

  .btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;

    &:hover {
      background-color: $black;
      color: $white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@media only screen and (min-width: 500px) {
  .container {
    display: flex;
    .navBar_toggle {
      order: 1;
      font-size: 25px;
      margin-right: 3vw;
      margin-left: 0vw;
    }

    .dropdown {
      order: 2;
      margin-right: 4.5vw;
      margin-left: 2.2vw;
    }

    .login_icon {
      display: none;
    }

    .login_btn {
      display: block;
      order: 2;
      margin-right: 4vw;
      text-decoration: none;
      color: $black;
      border: 2px solid black;
      border-radius: 10px;
      padding: 2.5px;
      color: $black;
      text-decoration: none;
      cursor: pointer;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      transition-duration: 0.4s;

      &:hover {
        background-color: $black;
        color: $white;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 4px 6px 0 rgb(0 0 0 / 19%);
      }
    }

    .responsive {
      padding: 2px 3px;
    }

    .btn {
      width: 15%;
    }
  }
}
