@import "./colors.scss";

* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: $white;
}

html {
  scroll-behavior: smooth;
}

.btn_form {
  height: 22px;
  width: 90%;
  margin: 0px auto;
  background-color: transparent;
  color: $light-grey;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $dark-yellow;
  }
}

hr {
  background-color: $grey;
  height: 1px;
  border: 0;
}

// LOGIN - SINGIN
.register {
  margin: 10px auto;
  height: 200px;
  width: 350px;
  padding: 5px;
  border-radius: 20px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    border: $light-grey solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    input {
      margin: 3px auto;
      width: 75%;
      border: none;
      border-bottom: 2px solid $light-grey;
      outline: none;
      background: $black;
      color: $light-grey;
      font-weight: normal;
      font-size: 15px;
    }
  }
}

// USERS
.users {
  display: flex;
  flex-wrap: wrap;
  .userContainer {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    overflow: scroll;
    border: 1px solid $white;

    .movie {
      margin: 0px;
      border: 1px solid $grey;
    }
  }
}
