$white: white;
$transparent-black: rgba(0,0,0,0.5);
$black: black;
$light-grey: rgba(227, 227, 227, 1);
$grey: rgba(128, 128, 128, 1);
$dark-grey:  rgb(85, 85, 85);
$light-yellow: rgb(255, 229, 133);
$yellow: rgba(255, 217, 82, 1);
$dark-yellow: rgba(255, 199, 0, 1)